/* ******************************************************************** */
/*								 INNHOLD								*/
/*
# 1: NAVIGASJONSBAR PÅ TOPP
# 2: INNSLAGS-BOKSER
# 3: KORRIGERINGER
# 4: OPPLASTING AV MEDIA
# 5: FORKLARINGSBOKSER
# 6: VIDERESENDINGSSKJEMA
*********************************************************************** */

/* ******************************************************************** */
/*						1. NAVIGASJONSBAR PÅ TOPP						*/
/* ******************************************************************** */
.UKMV_steg {
	margin-bottom: 10px;

	padding: 5px;
 	width: 650px;
 	
 	border: 1px solid #f3776f;
	
	-moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari, Chrome */
 	border-radius: 10px; /* CSS3 */
}

.UKMV_steg div a {
	text-decoration: none;
}
.UKMV_steg div {
	float: left;
	height: 20;
	margin-right: 7px;
	
	color: #f3776f;
	
	padding: 4px;
	
	-moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari, Chrome */
 	border-radius: 10px; /* CSS3 */
}

.UKMV_steg div.active {
	font-weight: bold;
}

.UKMV_steg div#leadin {
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 6px;
	
	-moz-border-radius: 0px; /* Firefox */
  	-webkit-border-radius: 0px; /* Safari, Chrome */
 	border-radius: 0px; /* CSS3 */

	border: none;
	border-right: 1px solid #f3776f;
	width: 105px;
	text-align: center;
	font-size: 11.5px;
	min-height: 30px;
}
.UKMV_steg_title {
	font-size: 16px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.UKMV_steg div#leadout {
	clear: both;
	display: none;
	
}

#subnavtitle {
	color: #1e4a45;
}
#subnav {
	border-color: #1e4a45;
	-moz-border-radius: 5px; /* Firefox */
  	-webkit-border-radius: 5px; /* Safari, Chrome */
 	border-radius: 5px; /* CSS3 */
}

#subnav div#leadin {
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	
	-moz-border-radius: 0px; /* Firefox */
  	-webkit-border-radius: 0px; /* Safari, Chrome */
 	border-radius: 0px; /* CSS3 */

	border: none;
	border-right: 1px solid #1e4a45;
	width: 105px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

#subnav div {
	color: #1e4a45;
	margin-top: 6px;
}
#subnav div a {
	/* color: #1e4a45; */
}

#hugesubmit {
	border-color: #0a6158;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	position: fixed;
	left: 850px;
	top: 104px;
	background: #a0cf67;
	color: #1e4a45;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	-moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari, Chrome */
 	border-radius: 10px; /* CSS3 */
 	padding: 45px;
}
#hugesubmit div#lagre {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 8px;
}
#hugesubmit:hover {
	background: #b7e580;
}

/* ******************************************************************** */
/*						  1.5. KONTROLLSIDE							*/
/* ******************************************************************** */

.kontroll_innslag {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 15px;
	margin-left: 30px;
}
.kontroll_tittel {
	font-weight: normal;
	font-size: 12px;
}
.kontroll_deltakere {
	font-weight: normal;
	font-size: 12px;
	margin-left: 15px;
}
.kontroll_antall {
	font-size: 12px;
	margin-left: 5px;
}
.kontroll_deltakereFeil {
	font-weight: bold;
	font-size: 12px;
	margin-left: 15px;
	
	width: 550px;
	background: #f69a9b;
	padding: 2px;
	padding-top: 0px;
	border: 2px solid #f3776f;
	
	-moz-border-radius: 4px; /* Firefox */
  	-webkit-border-radius: 4px; /* Safari, Chrome */
 	border-radius: 4px; /* CSS3 */
}
.kontroll_deltakereFeil div{
	margin-left: 10px;
	margin-top: 5px;
	float: left;
}
.kontroll_deltakereFeil img {
	float: left;
}
/* ******************************************************************** */
/*						  2. INNSLAGS-BOKSENE							*/
/* ******************************************************************** */
.innslag {
	-moz-border-radius: 4px; /* Firefox */
  	-webkit-border-radius: 4px; /* Safari, Chrome */
  	-khtml-border-radius: 4px;
 	border-radius: 4px; /* CSS3 */
	
	border: 1px solid #ccc;
	background: #ddd;
	
	width: 550px;
/*	height: 35px;*/
	padding: 3px;
		
	margin-bottom: 4px;
	
	color: #3f4652;
}

.innslag .videresend {
	float: left;
	width: 80px;
	margin: 0px;
	margin-right: 20px;
	padding: 0px;
	cursor:pointer;
}

.innslag #navn {
	font-size: 16px;
	font-weight: bold;
	margin-right: 4px;
	display: inline;
}
.innslag #tittel {
	font-size: 14px;
	font-weight: normal;
	margin-top: 2px;
	display: inline;
}

.innslag #type, .innslag #katogsjan {
	display: inline;
	font-size: 12px;
	line-height: 25px;
}

.innslag #kommune {
	float: right;
	margin-right: 10px;
}

.innslag .deltakere {
	margin-left: 100px;
}

.innslag .deltaker {
	clear: both;
}

.innslag .deltakere h3 {
	margin-bottom: 0px;
}
.innslag .deltakere h3 span#forklaring {
	font-size: 9px;
	font-weight: normal;
}

.videresendDeltaker {
	float: left;
	width: 20px;
	margin-right: 10px;
	margin-top: -1px;
	cursor:pointer;
}

/* ******************************************************************** */
/*						    3. KORRIGERINGER							*/
/* ******************************************************************** */

.korriger_tekniske {
	width: 430px;
	height: 110px;
}
.korriger_label {
	width: 430px;
}
.korriger_label input {
	float: right;
	width: 360px;
	margin-right: -1px;
}
.innslag .korriger {
	margin-left: 60px;
}

.korriger_person_navn {
	width: 350px;
	margin: 0px;
}

.header {
	font-weight: bold;
}

.korriger_person_navn .alder {
	float: right;
	width: 40px;
}
.korriger_person_mobilnummer {
	float: right;
	width: 80px;
}

/* ******************************************************************** */
/*						  4. OPPLASTING AV MEDIA						*/
/* ******************************************************************** */

.media {
}

.mediaSelect, .mediaSelectKunstner {
	width: 78px;
	text-align: center;
	height: 100px;
	float: left;
}
.mediaSelect img, .mediaSelectKunstner img, .videocontainer img {
	margin:3px;
	padding:3px;
	border: 1px solid #aaa;
		
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ie-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
		
	width: 60px;
}
.videocontainer img {
	width: 120px;
}
.mediaSelect img.active, .mediaSelectKunstner img.active {
	background: #a0cf67;
}
.mediaSelect img.notactive, .mediaSelectKunstner img.notactive {
}
.ukmv_lastopp .ukmv_lo_bilde div {
	margin-right: 10px;
}

.ukmv_lo_bilde, .ukmv_lo_video {
	float: left;
	width: 200px;

	margin: 4px;
	padding: 4px;
	background: #f4f4f4;
	border: 1px solid #c1c1c1;
	
	color: #515151;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ie-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;	
}

div.videofeedback {
	font-weight: bold;
	text-align: center;
}

.mediaskjema {
	margin-left: 15px;
}
.medieoversikt {
	width: 500px;
}
.medieoversikt td {
	background: #fff;
	padding: 3px;
}
.medieoversikt td.odd {
	background: #e1e1e1;
}
.lefttext {
	text-align: left;
}
.medieoversikt td.bname {
	font-weight: bold;
}
.medieoversikt .kommune {
	font-weight: normal;
}
h2.mediaoverskrift {
	margin-top: 40px;
	margin-bottom: 0px;
}
/* ******************************************************************** */
/*						   5. FORKLARINGSBOKSER							*/
/* ******************************************************************** */
div.forklaring_bilder, 
div.forklaring_kunstnerbilder, 
div.forklaring_lastopp, 
div#forklaring_innslag,
div.forklaring_video {
	margin: 4px;
	padding: 4px;
	background: #fff7e1;
	border: 1px solid #fff797;
	clear: both;
	
	color: #515151;
	font-size: 11.5px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ie-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
div#forklaring_innslag {
	width: 546px;
	margin-left: 0px;
}

div.close {
	float:right;
	margin-right: 4px;
	margin-top: -6px;
	cursor:pointer;
}

/* ******************************************************************** */
/*						 6. VIDERESENDINGSSKJEMA						*/
/* ******************************************************************** */

/* ************************************ */
/* BASIS FOR ALLE UL OG LI				*/
/* ************************************ */
ul.overnatting,
ul.ledermiddag,
ul.ledere,
ul.reisedetaljer,
ul.matogallergier,
ul.kvittering,
ul.ukm,
ul.kunst,
ul.videresendingsskjema_svar {
	width: 550px;
	margin-bottom: 0px;
}
ul.overnatting li,
ul.ledermiddag li,
ul.ledere li,
ul.reisedetaljer li,
ul.matogallergier li,
ul.kvittering li,
ul.kunst li,
ul.ukm li,
ul.rapport li,
ul.videresendingsskjema_svar li {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-color: #000;
	margin-bottom: 0px;
	margin-top: 0px;
	clear: both;
	padding: 10px;
	
	border-color: #cacaca;
	
	border-left-style: solid;
	border-left-width: 1px;

	border-right-style: solid;
	border-right-width: 1px;
	
	background: #e1e1e1;
}
ul.ukm li h4 {
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 12px;
	margin-left: 12px;
	font-size: 16px;
	font-weight: bold;
}

/* ************************************ */
/* LI DIV RIGHT inkl form-field og input*/
/* ************************************ */
ul li div.right {
	float: right;
	width: 480px;
}
li div.right .form-field input, li div.right .form-field textarea {
	float: right;
	width: 270px;
}
li div.right .form-field input.kortinput {
	width: 120px;
}

li div.right .form-field textarea {
	height: 70px;
}
li div.right .form-field input[type='checkbox'],
li div.right .form-field input[type='radio'] {
	float: left;
	width: 20px;
}
li div.right .form-field label {
	float: left;
	width: 180px;
	margin-right: 25px;
	cursor: text;
}
li div.right .form-field label.kortinput {
	width: 330px;
}
li div.right .form-field label.textlabel {
	font-weight: bold;
	clear: both;
	width: 100%;
	text-align: left;
}

li div.right .form-field {
	clear: both;
}

/* ************************************ */
/* LI ODD								*/
/* LI FIRST (inkl h2+forklaring)		*/
/* LI LAST								*/
/* ************************************ */
ul li.odd {
	background: #ffffff;
}

ul li.first {
	border-top-style: solid;
	border-top-width: 1px;
	
	clear: both;
	
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-ie-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;	
}
ul li.first img {
	float: left;
	margin-right: 10px;
	margin-top: -5px;
	margin-left: 3px;
}
ul li.first h2 {
	margin-top: 8px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 24px;
	color: #5e5e5e;
}
ul li.first h2 span.forklaring {
	margin-top: 8px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 15px;
}
ul li.last {
	border-bottom-style: solid;
	border-bottom-width: 1px;

	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-ie-border-radius: 0px 0px 10px 10px;
	-o-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;	
}

/* ************************************ */
/* LEDER-SPESIFIKK CSS					*/
/* ************************************ */
div.navn {
	font-size: 16px;
	font-weight: bold;
}
div.navn span.tittel {
	margin-left: 10px;
	font-size: 13px;
	font-weight: normal;
	color: #5e5e5e;
}

ul.ledere li.leder {
	display: none;
}

.betaltav {
	font-size: 11px;
}

.tabell_overnatting th, .tabell_overnatting_sumtable th {
	text-align: left;
}
.tabell_overnatting td, .tabell_overnatting_sumtable td {
	padding: 2px;
}
.tabell_overnatting_sumtable tbody tr td input.lederovernatting,
.tabell_overnatting_sumtable tbody tr td input.statusfelt,
.tabell_overnatting_sumtable tbody tr td input.hotellukmnorge {
	width: 30px;
}

.tabell_overnatting_sumtable tbody tr td input.statusfelt overnattingOK {
	background: #a0cf67;
	font-weight: bold;
}
.tabell_overnatting_sumtable tbody tr td input.statusfelt overnattingFAIL {
	background: #f69a9b;
}

.nullstill {
	float: right;
	font-size: 10px;
}
.nullstill a {
	text-decoration: none;
}
/* ************************************ */
/* KUNST-SPESIFIKK CSS					*/
/* ************************************ */

.natt {
	width: 50px;
	float: left;
}
.romtype {
	width: 90px;
	float: left;
}
.romnavn {
	height: 30px;
	font-weight: bold;
	vertical-align: bottom;
	line-height: 30px;
}
.andremann {
	display: none;
}
.rom {
	display: none;
	cursor: pointer;
}
#unike_deltakere_hjelp {
	cursor: pointer;
	font-size: 11px;
	margin-left: 3px;
}

.samtidig {
	width: 40px;
	float: left;
}
#utreise, #innreise {
	display: none;
}

.takk {
	font-size: 18px;
	font-weight: bold;
	margin-left: 250px;
	margin-top: 200px;
}

.bekreftelse_total {
	font-size: 16px;
	font-weight: bold;
}
.deltakereforklaring {
	font-size: 11px;
	font-weight: normal;
}

ul.kvittering {
	width: 660px;
}
ul.kvittering li div.right {
	float: right;
	width: 620px;
}

.bekreftelse_gruppe {
	font-weight: bold;
	font-size: 14px;
}
.bekreftelse_antall {
	font-weight: normal;
	font-size: 11px;
}
.bekreftelse_innslag, div.bekreftelse#ledere {
	margin-left: 10px;
	width: 500px; 
}
.bekreftelse_personer, .bekreftelse_media {
	font-size: 11px;
	float: right;
	width: 120px;
}
.manglerdeltakere {
	color: #f5382c;
}

.overnattingssted {
	font-size: 14px;
	font-weight: bold;
}

.overnattingsdag {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}
.overnattingsdag .antallrom {
	float: right;
}
.bekreftelse_navn {
	font-weight: normal;
	font-size: 12px;
}
.dagsdetaljer {
	margin-left: 10px;
}


/* ************************************ */
/* RAPPORTER					*/
/* ************************************ */
/* Kunsthenting */
ul.rapport {
	width: 850px;
	margin-bottom: 0px;
}
ul.rapport div {
	float: left;
	margin-right: 10px;
}
ul.rapport li:first div {
	font-weight: bold;
	text-align: left;
}
ul.rapport li div.fylke {
	width: 120px;
	font-weight: bold;
}
ul.rapport li div.fylke a, ul.rapport li div.fylke span {
	font-weight: normal;
	font-size: 11px;
}
ul.rapport li div.kontaktperson {
	width: 120px;
}
ul.rapport li div.hentesfra {
	width: 100px;
}
ul.rapport li div.mobil {
	width: 70px;
}
ul.rapport li div.kommentar, ul.rapport li div.tillegg {
	width: 200px;
}

.rapport_print, .rapport_back {
	float: right;
	width: 40px;
	cursor: pointer;
	margin-right: 20px;
	margin-top: 20px;
}
#kolliliste div.kolonne {
	float: left;
	width: 80px;
}
#kolliliste div.kolonne header{
	font-weight: bold;
}

h1 span#forklaring {
	font-weight: bold;
	font-size: 14px;
}
h3.fraogmed {
	color: #f3776f;
}

/* Ledermiddag */
.ledermiddag_leder {
	font-weight: bold;
}
.ledermiddag_leder span {
	font-weight: normal;
}

/* Overnatting Hotell UKM Norge */
li.rapport_rom {
	font-weight: bold;
	
	margin-top: 3px;
	margin-bottom: 10px;
}
li.rapport_rom h4 {
	font-size: 24px;
	padding-bottom: 10px;
}
li.rapport_rom h4 span {
	font-size: 12px;
	font-weight: normal;
}
div.row {
	clear: both;
}
div.row_even {
	background: #fefefe;
}
div.row_odd {
	background: #ebebeb;
}
li.rapport_rom div.row div {
	float: left;
	
	margin-left: 15px;
	
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}
li.rapport_rom div.row div.fylke {
	width: 150px;
}
li.rapport_rom div.row div.mobil {
	float: right;
	width: 90px;
}
li.rapport_rom div.row div.epost {
	float: right;
}

ul.ukm#hotell {
	width: 900px;
}
.rapport_ledermiddag_antall div.antall {
	font-weight: bold;
}


/* MAT-rapport */
ul.ukm#mat {
	width: 700px;
}
li.rapport_mat div {
	float: left;
}
li.rapport_mat#header div,
li.rapport_mat#row_footer div,
li#row_footer {
	font-weight: bold;
}
li.rapport_mat div.fylke {
	width: 130px;
}
li.rapport_mat div.annet {
	float: right;
	width: 300px;
}
li.rapport_mat div.vegetarianere,li.rapport_mat div.soliaki,li.rapport_mat div.svinekjott {
	width: 80px;
	text-align: center;
}
/* SPESIELLE BEHOV-rapport */
ul.ukm#spesbehov {
	width: 700px;
}

.rapport_spesbehov div {
	float: left;
}
.rapport_spesbehov#header div {
	font-weight: bold;
}
.rapport_spesbehov div.fylke {
	width: 120px;
}
.rapport_spesbehov div.annet {
	width: 300px;
}
.rapport_spesbehov div.tilrettelegging {
	width: 250px;
	float: right;
}

/* OPPSUMMERING */
ul.ukm#oppsummering {
	width: 1000px;
}
.oppsummering#header div {
	font-weight: bold;
}
li.oppsummering div {
	text-align: center;
	float: left;
	width: 75px;
}
li.oppsummering div.fylke {
	width: 120px;
	text-align: left;
}
li.oppsummering div.kommentar {
	width: 90px;
	text-align: left;
}
li.oppsummering div.ant {
	width: 50px;
}

span.spektrum_ok {
	color: green;
}
span.spektrum_fail {
	color: red;
	font-weight: bold;
}

ul.ukm#faktura {
	width: 890px;
}
li.fakturagrunnlag {

}
li.fakturagrunnlag div {
	float: left;
	margin-left: 5px;
	width: 70px;
}
li.fakturagrunnlag div.innenfor, li.fakturagrunnlag div.utover {
	width: 120px;
}
li.fakturagrunnlag div.navn {
	width: 170px;
	font-size: 14px;
}
li.fakturagrunnlag div input {
	width: 60px;
}
li.fakturagrunnlag div.beskrivelse {
	width: 270px;
}
li.fakturagrunnlag div.beskrivelse input {
	width: 260px;
}


li.workshop div {
	float: left;
	margin-right: 10px;
}
li.workshop div.workshoprom {
	float: right;
	text-align: right;
}


/* ************************************ */
/* STEG 10 (lokalmønstringer)			*/
/* ************************************ */

ul.videresendingsskjema_svar li > div.group {
  float: left;
}
ul.videresendingsskjema_svar li div.question_title {
 font-weight: bold; 
}
ul.videresendingsskjema_svar li div.question_help {
 font-weight: normal;
  font-style: italic;
  margin-bottom: 5px;
}

ul.videresendingsskjema_svar li {
  clear: both;
}
.inputwide {
	width: 520px;
}