ul.sporsmal li {
  clear: both;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #eee;
  padding: 4px;
  width: 800px;
}
ul.sporsmal li > div {

}
ul.sporsmal li > div.handle {
	float: left;
  width: 40px;
  margin-left: 10px;
}
ul.sporsmal li > div.q_form {
 float: left; 
}

ul.sporsmal li > div.icon {
 float: right;
  margin-right: 10px;
}

ul.sporsmal li div.icon {
	cursor: pointer;
}

ul.sporsmal li.overskrift {
 	background: #1e4a45; 
	color: #fff;
}