<p>
	<strong>Velg bilde:</strong>
</p>

{% for bilde in bilder %}
	<img src="{{ bilde.sizes.medium.path_internal ~ bilde.sizes.medium.file }}" class="clickable imageSelect" data-id="{{ bilde.id }}" data-blog="{{ bilde.blog_id }}" data-action="velgBilde{{ POST.kunstverk == 'true' ? 'Kunstverk' : 'Innslag' }}" height="150" />
{% endfor %}
</div>