<p>
	<strong>Opplasting skjer fra menyvalget bilder.</strong>
</p>
<p>
	Last opp bilder av alle innslag p책 en gang og koble de til innslaget som vanlig.
	<br />
	N책r du har lastet opp alle bildene returnerer du hit ved 책 velge "videresending" i menyen som vanlig.
</p>

<p>
	<a href="?page=UKMbilder" class="btn btn-ukm btn-sm">G책 til bilde-opplasting</a>
</p>
</div>