<p>
	<strong>Alle filmer av innslaget i UKM-TV</strong>
</p>

{% for film in filmer %}
	<iframe src="{{ film.embed_url }}" frameborder="0" width="500" height="282"></iframe>
{% endfor %}

{% if antallFilmer != filmer|length %}
	{% set diffFilmer = antallFilmer - filmer|length %}
	<h5>
		<img src="https://ico.ukm.no/error_utrop-32.png" height="20" class="float-left pull-left"> 
		<span>OBS: Innslag har {{ diffFilmer }} film {{ diffFilmer > 1 ? 'er' : '' }} som er lastet opp fra andre arrangementer</span>
	</h5>
{% endif %}


<p>
	<strong>Trenger du å laste opp en annen film?</strong>
</p>
<p>
	<a href="?page=UKMvideo&tabSPA=hendelser" class="btn btn-ukm btn-sm">Gå til film-opplasting</a>
</p>
