<p>
	<strong>Originalfilen må lastes opp som playback.</strong>
</p>
<p>
	Deltakerfilmene må lastes opp som playback-fil så vi har filmen i god nok kvalitet for å vise den på en stor skjerm.
	<br />
	Last opp filen du brukte på din mønstring, eller spør deltakeren om å få tilsendt en videofil i høyest mulig kvalitet.
</p>

<p>
	Du må gjerne laste opp filmen i UKM-TV også, men dette har ingen betydning for videresendingen.
</p>

<p>
	Når du har lastet opp alle filmene returnerer du hit ved å velge "videresending" i menyen som vanlig.
</p>

<p>
	<a href="?page=UKMplayback" class="btn btn-default">Gå til playback-opplasting</a>
</p>
</div>