<p>
	<strong>Opplasting skjer fra menyvalget video.</strong>
</p>
<p>
	Last opp video av innslag ved å velge innslag i hendelse
	<br />
</p>

<p>
	<a href="?page=UKMvideo&tabSPA=hendelser" class="btn btn-ukm btn-sm">Gå til film-opplasting</a>
</p>
</div>