<p>
	<strong>Opplasting skjer fra menyvalget video.</strong>
</p>
<p>
	Last opp video av alle innslag på en gang, så slipper du å hoppe frem og tilbake.
	<br />
	OBS: Inntil filmen er ferdig konvertert, vil det stå at innslaget ikke har noen filmer. Videokonvertering tar vanligvis noen få minutter per film.
	<br />
	Når du har lastet opp alle filmene returnerer du hit ved å velge "videresending" i menyen som vanlig.
</p>

<p>
	<a href="?page=UKMvideo_innslag" class="btn btn-ukm btn-sm">Gå til film-opplasting</a>
</p>
</div>