<p>
	<strong>Mediefiler tilknyttet innslaget.</strong>
</p>

<p class="alert alert-danger">
    OBS: Her laster du opp mediefiler som skal brukes i gjennomføringen (på scenen).
    <br />
    Bilder og film av innslaget skal lastes opp under menyvalget 
    "<a href="edit.php">Nettside</a>".
</p>

<ol class="list-group">
{% for fil in playback %}
	<li class="list-group-item">
		<div class="col-xs-6">
			<strong>
				{{fil.navn}}
			</strong>
			<br />
			<small>
				<a href="{{fil.url}}" target="_blank">Last ned</a>
			</small>
		</div>
		<div class="col-xs-6">
			{{fil.beskrivelse}}
		</div>
		<div class="clearfix"></div>
	</li>
{% endfor %}

<div class="clearfix"></div>
<p>&nbsp;</p>

<p>
	<strong>Trenger du å laste opp eller endre en fil?</strong>
</p>
<p>
	<a href="?page=UKMplayback" class="btn btn-ukm btn-success btn-sm">Last opp / endre mediefiler</a>
    <span style="margin-left: 1.3em;">eller</span>
	<a href="?page=UKMbilder" class="btn btn-ukm btn-xs" style="margin-left: 1.3em;">Last opp bilder av innslaget</a>
	<a href="?page=UKMvideo" class="btn btn-ukm btn-xs" style="margin-left: 1.3em;">Last opp film av innslaget</a>
</p>
