<p>
	<strong>Opplasting skjer fra menyvalget playback.</strong>
</p>

<p>
	<b>Med playbackfiler, mener vi alt fra faktiske playback/singback, til hvilke som helst andre filer som trengs i gjennomføringen.</b>
	<br />
	For eksempel hvis innslaget har en video som skal vises på lerettet, eller litteraturinnslaget har en tekst som skal leses opp, 
	så ønsker vi at disse filene lastes opp som playback. På denne måten er vi sikre på at vi har alle filer som trengs i gjennomføringen.
</p>
<p>
	<b>Hvis dette innslaget ikke har playbackfiler, ignorerer du advarselen.</b>
	<br />
	Systemet vet ikke om dette innslaget krever en playbackfil eller ikke, og viser derfor en varseltrekant så lenge innslaget ikke har tilknyttede playbackfiler.
	<br />
</p>

<p>
	<a href="?page=UKMplayback" class="btn btn-default">Gå til playback-opplasting</a>
</p>