<p>
	<strong>Opplasting skjer fra menyvalget mediefiler, under påmeldte.</strong>
</p>

<p>
	<b>Med mediefiler, mener vi alt fra faktiske playback/singback, til hvilke som helst andre filer som trengs i gjennomføringen.</b>
	<br />
	For eksempel hvis innslaget har en video som skal vises på lerettet, eller litteraturinnslaget har en tekst som skal leses opp, 
	så ønsker vi at disse filene lastes opp som mediefiler. På denne måten er vi sikre på at vi har alle filer som trengs i gjennomføringen.
</p>
<p>
	<b>Hvis dette innslaget ikke skal ha mediefiler, ignorerer du advarselen.</b>
	<br />
	Systemet vet ikke om dette innslaget krever en mediefil eller ikke, og viser derfor en varseltrekant så lenge innslaget ikke har tilknyttede playbackfiler.
	<br />
</p>

<p>
	<a href="?page=UKMplayback" class="btn btn-ukm btn-sm">Gå til mediefil-opplasting</a>
</p>