<div class="filmer text-{{ innslag.getFilmer().getAntall() > 0 ? 'success' : 'danger' }}">
	{% if innslag.getFilmer().getAntall() > 0 %}
		<img src="https://ico.ukm.no/check-32.png" height="20" class="float-right pull-right" />
		Har film i UKM-TV.
		<br />
		<button class="btn btn-xs btn-ukm action" data-action="showFilmer">Mer info</button>
	{% else %}
		<img src="https://ico.ukm.no/error_utrop-32.png" height="20" class="float-right pull-right" />
		Ingen filmer funnet.
	
		<br />
		<button class="btn btn-xs btn-ukm action" data-action="showFilmInfo">Last opp film</button>
	{% endif %}
	<div class="clearfix"></div>
</div>