{% extends "Layout/base.html.twig" %}

{% block content %}
	<h2>
		Tilse at alle innslag har riktige mediefiler.
	</h2>

	<div class="row">
		{% for type_innslag in innslag_typer %}
			<div class="innslagBlock col-xs-12">
				<div class="innslagTypeHeader">
					<img src="{{ type_innslag.getIcon() }}" height="45" />
					<h3>{{ type_innslag }}</h3>
					<div class="clearfix"></div>
				</div>
				
				<ol class="list-group innslag_lister" id="innslag_liste_{{ type_innslag.getKey() }}">
					{# VIDERESENDING TIL FYLKE - GRUPPER PER FYLKE I TILFELLE LOKALMØNSTRING OVER FYLKESGRENSER #}
					{% for innslag in videresendte if innslag.getType().getKey() == type_innslag.getKey() %}
						{% embed "Media/innslag.html.twig" %}{% endembed %}
					{% else %}
						<li class="list-group-item ingen-pameldte alert-danger">Du har ingen videresendte i {{ type_innslag }}</li>
					{% endfor %}
				</ol>
			</div>
		{% endfor %}
		<div class="clearfix"></div>
	</div>
{% endblock %}