<div class="bilder text-{{ innslag.getPlayback().har() ? 'success' : 'warning' }}">
	{% if innslag.getPlayback().har() %}
		<img src="https://ico.ukm.no/check-32.png" height="20" class="float-right pull-right" />
		Har playbackfiler.
		<br />
		<button class="btn btn-xs btn-default action" data-action="showPlaybackFiles">Mer info</button>
	{% else %}
		<img src="https://ico.ukm.no/alert-32.png" height="20" class="float-right pull-right action" />
		Ingen playback-filer funnet.
	
		<br />
		<button class="btn btn-xs btn-default action" data-action="showPlaybackInfo">Last opp playback</button>
	{% endif %}
	<div class="clearfix"></div>
</div>