<div class="form-group">
	<label>Den voksnes navn</label>
	<input type="text" name="voksen-navn" value="{{ nominasjon.getVoksen().getNavn() }}" class="form-control" required />
</div>

<div class="form-group">
	<label>Den voksnes mobilnummer</label>
	<input type="tel" name="voksen-mobil" value="{{ nominasjon.getVoksen().getMobil() }}" class="form-control" required />
</div>