<div class="form-group">
	<label>Ditt navn eller navn på referanseperson</label>
	<input type="text" name="voksen-navn" value="{{ nominasjon.getVoksen().getNavn() }}" class="form-control" required />
</div>

<div class="form-group">
	<label>Ditt mobilnummer eller mobilnummer til referanseperson</label>
	<input type="tel" name="voksen-mobil" maxlength="8" value="{{ nominasjon.getVoksen().getMobil() }}" class="form-control" required />
</div>