<style>
	img {
		max-width: 50vw;
		max-height: 50vh;
	}
</style>
<div style="width: 98%;">

    <h2>Videresending til {{til.getNavn()}}</h2>

	<div class="UKM_tabs UKM_tabs_5">
		{% embed "Layout/tabs.html.twig" %}{% endembed %}
	</div>
	
	<div class="UKM_tabs_desc">
		<span></span>
	</div>

	<div class="UKM_content_wrapper">
		{% include "wp_modul.flashbag.html.twig" %}
	
		{% block content %}{% endblock %}
		<div class="clearfix"></div>
	</div>
</div>