<h1>Infotekst om videresending</h1>
<p class="lead">
	Teksten du skriver her vil vises for lokalkontaktene når de åpner videresendingsmodulen. Dette er en fin plass å opplyse om f.eks kvoter og ting som er viktig å tenke på for lokalkontaktene når de skal videresende deltakerne sine.
</p>

<form method="POST">