<h5>Mer informasjon:
	<h5>Dokumentet med informasjon kommer snart!</h5>
	{# <a href="https://assets.ukm.no/docs/festivalen2022.pdf" target="_blank"><span style="font-size: 17px;" class="dashicons dashicons-media-document"></span><span style="vertical-align: middle">last ned PDF dokumentet</span></a> #}
<h5>
