<h3>
	Nominasjon
	<small>
		{% if "now"|date("Y") < 2019 %}<i class="label label-danger">Nytt i 2018</i> &nbsp;{% endif %}
	</small>
</h3>
<p>
	<a href="?page=UKMnominasjon">All nominasjon skjer elektronisk</a>.
</p>

<p>
	Unge arrangører, konferansierer og UKM Media-deltakere må nomineres, og skal ikke videresendes i systemet før deltakelse er bekreftet av UKM Norge.
	<br />
	Det må fylles ut nominasjonsskjema. For unge arrangører og UKM Media må også deltakeren selv fylle ut et skjema.
</p>

<p>
	<strong>Frister for nominasjon:</strong>
	<br />
	{{ nominasjon_frister|nl2br|raw }}
</p>

<h3>Kvoter</h3>
<p>
	<strong>
		Kvotene beskrives i 
		<a href="{{ info1 }}" target="_blank">informasjonsbrev 1</a>. 
		Les disse nøye!
	</strong>
</p>

<p>
	Av hensyn til kvaliteten på arrangementet vil vi ikke godta overskridelser av kvotene. 
	Dette gjelder selv om et fylke skulle ha publisert videresendingen i media. 
	<br />
	Fylket vil i et slikt tilfelle måtte gi kontrabeskjed og skuffe de berørte, og vi vil på det sterkeste be dere unngå at en slik situasjon oppstår.
</p>

<p>
	<a href="?page=UKMVideresending&action=oppsummering">Oppsummeringen</a> gir deg en rask oversikt over kvotene i forhold til din videresending.
</p>