{% extends "Layout/base.html.twig" %}

{% block content %}
	<div style="width:98%">
		{% include 'Oppsummering/kommune.html.twig' %}
		
		<h3>Statistikk</h3>
		{% embed "Statistikk/Skjema.html.twig" %}{% endembed %}
	</div>
{% endblock %}
