{% if success %}
    <h1>Førespørsel er lagret!</h1>
{% else %}
    <h1>Førespørsel ble ikke lagret!</h1>
{% endif %}


{% block javascripts %}
    <script>
    setTimeout(() => {
        window.history.back()
    }, 2000);
    </script>
{% endblock %}