<h1>Videresending</h1>
<p>
    Videresendingsmodulen er fortsatt under utvikling, og vil åpne 1. mars.
</p>
<p>
    Når arrangementet ditt er ferdig, og det er på tide å videresende innslag, vil du kunne
    gjøre det herfra. Du vil også finne informasjon om kvoter, skjema som skal fylles ut, 
    og lignende på denne siden.
</p>

<p>
    Nytt i det nye systemet, er at du kan videresende til stort sett hvem som helst - det er ikke
    lengre en automatikk i at du kun kan sende videre til fylket. Med dette håper vi på fleksibilitet, 
    og at man kan tenke nytt i samarbeid med andre UKM-arrangementer i nærmiljøet.
</p>
