<fieldset>
	<legend>Spesielle forhold ifb. tilrettelegging</legend>
	<div class="form-group col-xs-12 col-sm-6">
		<div class="form-group">
			<label for="tilrettelegging_bevegelseshemninger">Bevegelseshemninger</label>
			<textarea id="tilrettelegging_bevegelseshemninger" name="tilrettelegging_bevegelseshemninger" class="form-control">{{tilrettelegging.bevegelseshemninger}}</textarea>
		</div>
	</div>
	
	<div class="form-group col-xs-12 col-sm-6">
		<div class="form-group">
			<label for="tilrettelegging_annet">Andre spesielle behov</label>
			<textarea id="tilrettelegging_annet" name="tilrettelegging_annet" class="form-control">{{tilrettelegging.annet}}</textarea>
		</div>
	</div>

</fieldset>