<tr class="text-{{ videresendt.innslag > 4 ? 'error':'success'}}">
	<td></td>
	<td>4 innslag</td>
	<td>{{ videresendt.innslag }} innslag</td>
	<td>{{ videresendt.innslag > 4 ? 'Over kvote!':'OK' }}</td>
</tr>
<tr>
	<td></td>
	<td colspan="3" class="small">
		En bilde-serie regnes som ett verk, men må da være påmeldt som flere titler i innslaget.
	</td>
</tr>
