{% extends "Layout/base.html.twig" %}


{% block content %}
	<div style="width:95%">
		{% if til.getType() == 'fylke' %}
			<div class="alert alert-danger">
				<h3>Oversikten stemmer ikke!</h3>
				<p>Dette er en BETA-utgave av ny videresending, og vi vet det finnes feil i denne oppsumeringen. Problemet blir rettet før lansering</p>
			</div>
		{% endif %}
		
		{% for monstring in til %}
			{% include 'Oppsummering/'~ fra.getType() ~'.html.twig' with {monstring: monstring} %}
		{% endfor %}

		<h3>Statistikk</h3>
		{% embed "Statistikk/skjema.html.twig" %}{% endembed %}
	</div>
{% endblock %}